<div class="px-4 py-5 my-5">
  <div class="text-center">
    <h1 class="display-5 fw-bold text-body-emphasis mb-4">Gerenciador de tarefas</h1>

    <div class="d-flex justify-content-center gap-2">
      <div class="col-lg-5 col-9">
        <input type="text" class="form-control" placeholder="Título da tarefa" #inputTarefa autofocus>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary mb-3" (click)="salvarTarefa(inputTarefa)">+</button>
      </div>
    </div>
  </div>

  <h2 class="fw-bold text-body-emphasis mb-4 mt-5 text-center">Tarefas cadastradas</h2>

  <div class="d-flex justify-content-center mb-4">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="filtroTarefas" id="todas" autocomplete="off" checked (click)="filtro = FiltroTarefas.Todas">
      <label class="btn btn-outline-primary" for="todas">Todas</label>

      <input type="radio" class="btn-check" name="filtroTarefas" id="concluidas" autocomplete="off" (click)="filtro = FiltroTarefas.Concluidas">
      <label class="btn btn-outline-primary" for="concluidas">Concluídas</label>

      <input type="radio" class="btn-check" name="filtroTarefas" id="pendentes" autocomplete="off" (click)="filtro = FiltroTarefas.Pendentes">
      <label class="btn btn-outline-primary" for="pendentes">Pendentes</label>
    </div>
  </div>

  <ul class="list-group col-lg-6 col-10 mx-auto">
    <app-tarefa-de-lista *ngFor="let t of tarefas; index as i" [tarefa]="t" [indiceTarefa]="i" (emissorEventoExcluir)="excluirTarefa(i)" (emissorEventoCheckar)="checkarTarefa($event)" [filtroTarefas]="filtro"></app-tarefa-de-lista>
  </ul>

  <div class="text-center mt-2" [class.text-success]="totalTarefas != 0 && quantConcluidas == totalTarefas">{{ quantConcluidas }}/{{ totalTarefas }} tarefa(s) concluída(s)</div>

</div>
