<div class="container py-3 py-md-4 py-lg-5">

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-10 col-12">
      <h1 class="fw-bold text-body-emphasis mb-4 text-center">Tarefas cadastradas</h1>

      <form [formGroup]="filterSortForm">

        <div class="row mb-4">
          <!-- Filtros -->
          <div class="col d-flex align-items-center">
            <i class="bi bi-filter-circle-fill pe-3 ps-1 fs-5 text-primary"></i>
            <div class="btn-group" role="group">
              <input type="radio" class="btn-check" id="todas" formControlName="concluida" [value]="undefined">
              <label class="btn btn-outline-primary" for="todas">Todas</label>

              <input type="radio" class="btn-check" id="pendentes" formControlName="concluida" [value]="false">
              <label class="btn btn-outline-primary" for="pendentes">Pendentes</label>

              <input type="radio" class="btn-check" id="concluidas" formControlName="concluida" [value]="true">
              <label class="btn btn-outline-primary" for="concluidas">Concluídas</label>
            </div>
          </div>
          <!-- Botão excluir concluídas -->
          <div class="col-auto">
            <button class="btn btn-danger" (click)="excluirConcluidas()">Excluir concluídas</button>
          </div>
        </div>

        <div class="row mb-4">
          <!-- Opções de ordenação -->
          <div class="col d-flex align-items-center">
            <i class="bi bi-sort-up pe-3 ps-1 fs-5 text-primary"></i>
            <div class="btn-group" role="group">
              <input type="radio" class="btn-check" id="dataCriacao" formControlName="sort" value="dataCriacao">
              <label class="btn btn-outline-primary" for="dataCriacao">Data de criação</label>

              <input type="radio" class="btn-check" id="titulo" formControlName="sort" value="titulo">
              <label class="btn btn-outline-primary" for="titulo">Alfabética</label>

              <input type="radio" class="btn-check" id="prazo" formControlName="sort" value="prazo">
              <label class="btn btn-outline-primary" for="prazo">Prazo</label>
            </div>
          </div>
        </div>

      </form>

      <ng-container *ngIf="appState$ | async as state">

        <div *ngIf="state.loading">
          ⏳ Carregando tarefas...
        </div>

        <div *ngIf="state.error && !state.loading">
          ⚠️ Erro: Não foi possível conectar ao servidor.
          <button class="btn btn-danger" (click)="carregarDados()">Tentar novamente</button>
        </div>

        <ng-container *ngIf="!state.loading && !state.error">
          <ul class="list-group" *ngIf="state.dados.length > 0; else empty">
            <app-tarefa-card
              *ngFor="let t of state.dados"
              [tarefa]="t"
              (excluida)="onExcluida()"
              (concluida)="onConcluida()">
            </app-tarefa-card>
          </ul>
        </ng-container>

        <ng-template #empty>
          <div *ngIf="!state.loading && !state.error">
            📭 Nenhuma tarefa encontrada.
          </div>
        </ng-template>

        <!-- Cada async pipe inserido no html gera um subscribe/unsubscribe individual
        (ou seja, cada vez que aparece no template, será uma execução do método do http)
        Usamos "as dados" para conseguir chamar async pipe uma única vez e depois só referenciar a variável "dados". -->
        <div class="text-center mt-2"
            *ngIf="!state.loading && !state.error"
            [class.text-success]="state.total !== 0 && state.concluidas === state.total">
            {{ state.concluidas }}/{{ state.total }} tarefa(s) concluída(s)
        </div>

        <div class="text-center mt-2">
          Você está na página {{ (state$ | async)?.page }}
          <i class="bi bi-arrow-right-circle ms-1" (click)="proximaPagina()" style="cursor: pointer;"></i>
        </div>

      </ng-container>

    </div>
  </div>
</div>
